/* line 3, ../sass/index.scss */
* {
  padding: 0;
  margin: 0; }

/* line 8, ../sass/index.scss */
body {
  background: #e0e5ff;
  font-family: Georgia, sans-serif;
  /* #page-description */
  /* #content */ }
  /* line 12, ../sass/index.scss */
  body #page-description {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; }
  /* line 18, ../sass/index.scss */
  body #content {
    width: 90%;
    margin: 0 auto;
    /* #form-login-container, #form-register-container */
    /* #form-login-container:after, #form-register-container:after, input:after, label:after, #pw-login:after */
    /* form */ }
    /* line 22, ../sass/index.scss */
    body #content #form-login-container, body #content #form-register-container {
      background-color: white;
      max-width: 500px;
      margin: 50px auto;
      box-shadow: 2px 2px 10px black;
      border-radius: 10px; }
    /* line 30, ../sass/index.scss */
    body #content #form-login-container:after, body #content #form-register-container:after, body #content #form-login:after, body #content #form-register:after, body #content input:after, body #content label:after, body #content #pw-login:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 38, ../sass/index.scss */
    body #content form {
      width: 90%;
      margin: 0 auto;
      /* label */
      /* input */
      /* .valid */
      /* .invalid */
      /* input[type=submit] */
      /* .error */ }
      /* line 42, ../sass/index.scss */
      body #content form label {
        width: 33%;
        height: 0px;
        line-height: 30px;
        display: inline-block;
        text-align: right;
        float: left;
        clear: both; }
      /* line 52, ../sass/index.scss */
      body #content form input {
        width: 60%;
        font-size: 100%;
        padding-left: 10px;
        margin-bottom: 10px;
        height: 30px;
        float: right;
        clear: both; }
      /* line 62, ../sass/index.scss */
      body #content form .valid {
        background: url("../../images/being_used/green-check-30x30.png") no-repeat scroll right center #afe2af;
        border: 2px solid #155215;
        border-radius: 3px; }
      /* line 68, ../sass/index.scss */
      body #content form .invalid {
        background: url("../../images/being_used/red-x-30x30.png") no-repeat scroll right center #f5bdbd;
        border: 2px solid #640B0B;
        border-radius: 3px; }
      /* line 74, ../sass/index.scss */
      body #content form input[type=submit] {
        width: 115px;
        height: 40px;
        float: right;
        margin-bottom: 20px;
        padding-left: 0px;
        -moz-box-shadow: 0px 0px 5px #999;
        -webkit-box-shadow: 0px 0px 5px #999;
        border: 1px solid #556f8c;
        background: -moz-linear-gradient(top, #718da9 0%, #415d79 100%);
        /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #718da9), color-stop(100%, #415d79));
        /* webkit */
        cursor: pointer;
        color: white;
        border-radius: 10px; }
      /* line 90, ../sass/index.scss */
      body #content form .error {
        display: none;
        float: left;
        color: red;
        margin: 0 0 20px 37%;
        /* ul */ }
        /* line 96, ../sass/index.scss */
        body #content form .error ul {
          margin-left: 30px; }

/* line 106, ../sass/index.scss */
h1, h3, h4 {
  text-align: center; }

/* line 110, ../sass/index.scss */
h1 {
  margin: 50px auto; }

/* line 114, ../sass/index.scss */
h3 {
  margin: 20px auto;
  padding-top: 20px; }

@media screen and (max-width: 500px) {
  /* line 121, ../sass/index.scss */
  body #content form {
    /* label */
    /* input */
    /* input[type=submit] */
    /* .error */ }
    /* line 122, ../sass/index.scss */
    body #content form label {
      width: 90%;
      height: 10px;
      text-align: left;
      margin-left: 12px;
      line-height: 0px;
      display: block; }
    /* line 131, ../sass/index.scss */
    body #content form input {
      text-align: left;
      width: 90%;
      margin: 0 auto;
      float: none;
      display: block; }
    /* line 139, ../sass/index.scss */
    body #content form input[type=submit] {
      text-align: center;
      width: 90%;
      margin: 20px auto;
      float: none; }
    /* line 146, ../sass/index.scss */
    body #content form .error {
      margin: 10px 0 20px 20px; }

  /* body #content form */ }
/* @media */
